---
import Layout from '../layouts/Layout.astro';
import Experience from '../components/Experience.astro';
import SectionContainer from '../components/SectionContainer.astro'
import BriefCaseIcon from '../components/icons/BriefCase.astro';
import CodeIcon from '../components/icons/Code.astro';
import Proyects from '../components/Proyects.astro'
import Hero from '../components/Hero.astro';
import ProfileCheck from '../components/icons/ProfileCheck.astro';
import AboutMe from '../components/AboutMe.astro'
---

<Layout 
title="Portfolio de Pygove - Desarrollador y Programador Web"
description='Contrata a pygove para crear tu aplicacion web'
>
	<main class="px-4">
		<SectionContainer class="py-44 pb-32">
			<Hero>
				<solt/>
			</Hero>
		</SectionContainer>
		<SectionContainer id="experiencia">
			<h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
				<BriefCaseIcon class="size-7"/>
				Experiencia como Freelancer
			</h2>
			<Experience />
		</SectionContainer>
		<SectionContainer id="proyectos">
			<h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
				<CodeIcon class="size-7"/>
				Proyectos
			</h2>
			<Proyects />
		</SectionContainer>
		<SectionContainer id="sobre-mi">
			<h2
			  class="flex items-center mb-6 text-3xl font-semibold gap-x-8 text-black/80 dark:text-white"
			>
			  <ProfileCheck class="size-8" />
			  Sobre mí
			</h2>
			<AboutMe />
		  </SectionContainer>
	</main>
</Layout>


