---
 const personalImageAlt = "Veron Gonzalo"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo Veron Gonzalo Manuel. Empecé en la
      programación hace 5 años en un proyecto de investigación de la facultad. Actualmente estoy <strong
        >en busqueda de mi primer trabajo en el mundo IT</strong
      >.
    </p>

    <p>
        Como freelancer, algunos de mis logros incluyen la colaboración como desarrollador frontend en la creación de un sistema de gestión para una tienda <strong
        >y en un proyecto de ingeniería de software denominado 'AgroSistema', que actualmente sigue en desarrollo.</strong
      >
    </p>

  </div>

  <img width="200" height="200" src="/logo.jpeg" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>