---
const personalImageAlt = "Veron Gonzalo"
import Badge from "../components/Badge.astro"
import LinkedInIcon from "../components/icons/LinkedIn.astro"
import MailIcon from "../components/icons/Mail.astro"
import SocialMedia from "../components/SocialMedia.astro"
import GitHubIcon from "./icons/GitHub.astro"
---

<div class="max-w-xl">
  <div class="flex gap-4 mb-4">
    <img
      class="rounded-full shadow-lg size-16"
      src="/logo.jpeg"
      alt={personalImageAlt}
    />
    <a
      href="https://www.linkedin.com/in/pygove"
      target="_blank"
      rel="noopener"
      class="flex items-center transition md:justify-center md:hover:scale-105"
    >
      <Badge>Disponible para trabajar</Badge>
    </a>
  </div>
  <h1
    class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white"
  >
    Hey, soy Pygove
  </h1>
  <p
    class="mt-6 text-xl text-gray-800 dark:[&>strong]:text-yellow-200 [&>strong]:text-yellow-500 [&>strong]:font-semibold dark:text-gray-300"
  >
  +1 año de experiencia. <strong
      >Desarrollador Web.</strong
    > De Misiones, Argentina.
  </p>
  <nav class="flex flex-wrap gap-4 mt-8">
    <SocialMedia href="mailto:gonzalo.pygove@gmail.com">
      <MailIcon class="size-4" />
      Contáctame
    </SocialMedia>
    <SocialMedia href="https://linkedin.com/in/pygove">
      <LinkedInIcon class="size-4" />
      LinkedIn
    </SocialMedia>
    <SocialMedia href="https://github.com/Pygove">
        <GitHubIcon class="size-4 md:size-6" />
        GitHub
    </SocialMedia>
  </nav>
</div>